.product-info-card {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  justify-content: space-around;
}

.product-info-card img {
  width: 40vw;
  height: 70vh;
}

.product-info-card .info-text {
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.product-info-card .info-text .info-name {
  font-size: 35px;
  margin-bottom: 5%;
  font-weight: normal;
}

.product-info-card .info-text .info-price {
  font-size: 32px;
  margin-bottom: 10%;
  font-weight: normal;
}

.product-info-card .info-text .info-desc {
  font-size: 24px;
  margin-bottom: 10%;
  font-weight: lighter;
}

.product-info-card .info-text button {
  padding: 2rem;
  width: 100%;
  font-size: larger;
  cursor: pointer;
  background-color: black;
  color: white;
  outline: none;
  transition-duration: 0.3s;
}

.product-info-card button:hover {
  background-color: #35c092;
}

.product-info-card button:focus {
  background-color: #35c092;
}

@media only screen and (max-width: 1000px) {
  .product-info-card {
    flex-direction: column;
    align-items: center;
  }
  .product-info-card img {
    height: auto;
    width: 70%;
  }
  .product-info-card .info-text {
    width: 70%;
    height: auto;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-evenly;
  }
  .product-info-card .info-text .info-name {
    font-size: 20px;
  }
  .product-info-card .info-text .info-price {
    font-size: 18px;
  }
  .product-info-card .info-text .info-desc {
    font-size: 15px;
    height: 20px;
    width: 30%;
    line-height: 20px;
  }
  .product-info-card .info-text button {
    max-width: 15%;
    padding: 0.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

nav img {
  height: auto;
  width: 20%;
  margin-top: 1rem;
}

nav .menu-items {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

nav .menu-items ul {
  width: 10%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav .menu-items li {
  cursor: pointer;
}

nav .menu-items .active {
  border-bottom: 2px solid black;
  text-decoration: none;
  color: inherit;
}

.items {
  height: auto;
  width: 100%;
}

.item-card {
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-x: hidden;
  padding: 2rem;
  padding-right: 0;
}

.card {
  height: 30%;
  width: 25%;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 1rem;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card img {
  cursor: pointer;
}

.card .card-name {
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 1150px) {
  .card {
    width: 30%;
    height: auto;
  }
  .item-card {
    justify-content: space-evenly;
  }
  nav .menu-items ul {
    width: 50%;
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 950px) {
  .card {
    width: 40%;
    height: auto;
  }
  .item-card {
    justify-content: space-evenly;
  }
}

@media only screen and (max-width: 700px) {
  .card {
    width: 80%;
    height: auto;
    align-items: center;
  }
  nav img {
    min-width: 30%;
  }
}

@media only screen and (max-width: 500px) {
  nav img {
    width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */